.project-card {
  padding: 20px;
  border-radius: 12px;
  background: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  background-color: rgba(0,148,255,0.5);
}

.project-card:hover h3,
.project-card:hover p,
.project-card:hover span,
.project-card:hover a {
  color: white;
}

.description {
  white-space: pre-line;
}
