<section id="about" class="w-full min-h-screen flex flex-col md:flex-row items-center bg-[rgba(0,0,0,0.06)] px-6 md:px-20 py-10">

  <!-- Texte -->
  <div class="w-full md:w-1/2 md:pr-10 mb-10 md:mb-0">
    <h2 class="text-4xl md:text-6xl font-bold text-[rgba(0,80,255,0.7)] mb-6">WHO AM I ?</h2>
    <h3 class="text-2xl md:text-3xl font-bold mb-4">I'm Tahir FALL, a Software Engineer</h3>
    <p class="text-base md:text-lg text-gray-700">
      Dynamic software developer with a solid foundation in information systems engineering, 
      complemented by hands-on experience in building scalable web applications. With over a year 
      of experience developing analytical tools and management systems using Spring Boot, Angular, 
      and Docker, I have contributed to the automation of customs statistics. 
      Holding a Master’s degree awarded with highest distinction, I possess the skills required 
      to contribute effectively to innovative projects. Autonomous, serious, highly adaptable, 
      and eager to learn, I am motivated to bring my software development expertise to the 
      success of any leading technology company.
    </p>
  </div>

  <!-- Skills -->
  <div class="w-full md:w-1/2 space-y-3">
    <!-- compétence ex -->
    <div>
      <div class="flex justify-between mb-1 text-sm md:text-base">
        <span class="font-semibold text-gray-700">Spring Boot</span>
        <span class="font-semibold text-gray-700">85%</span>
      </div>
      <div class="w-full bg-gray-300 rounded-full h-3 md:h-4">
        <div class="bg-blue-700 h-full rounded-full" style="width: 85%;"></div>
      </div>
    </div>

    <div>
      <div class="flex justify-between mb-1 text-sm md:text-base">
        <span class="font-semibold text-gray-700">Angular</span>
        <span class="font-semibold text-gray-700">65%</span>
      </div>
      <div class="w-full bg-gray-300 rounded-full h-3 md:h-4">
        <div class="bg-blue-700 h-full rounded-full" style="width: 65%;"></div>
      </div>
    </div>

    <div>
      <div class="flex justify-between mb-1 text-sm md:text-base">
        <span class="font-semibold text-gray-700">Tailwind CSS, Bootstrap, Primeng</span>
        <span class="font-semibold text-gray-700">70%</span>
      </div>
      <div class="w-full bg-gray-300 rounded-full h-3 md:h-4">
        <div class="bg-blue-700 h-full rounded-full" style="width: 70%;"></div>
      </div>
    </div>

    <div>
      <div class="flex justify-between mb-1 text-sm md:text-base">
        <span class="font-semibold text-gray-700">DevOps (Docker | Jenkins | SonarQube, Git, Gitlab, Github)</span>
        <span class="font-semibold text-gray-700">70%</span>
      </div>
      <div class="w-full bg-gray-300 rounded-full h-3 md:h-4">
        <div class="bg-blue-700 h-full rounded-full" style="width: 70%;"></div>
      </div>
    </div>

    <div>
      <div class="flex justify-between mb-1 text-sm md:text-base">
        <span class="font-semibold text-gray-700">Database (MySql, Postgres, MongoDb)</span>
        <span class="font-semibold text-gray-700">75%</span>
      </div>
      <div class="w-full bg-gray-300 rounded-full h-3 md:h-4">
        <div class="bg-blue-700 h-full rounded-full" style="width: 75%;"></div>
      </div>
    </div>

    <div>
      <div class="flex justify-between mb-1 text-sm md:text-base">
        <span class="font-semibold text-gray-700">Keycloak</span>
        <span class="font-semibold text-gray-700">55%</span>
      </div>
      <div class="w-full bg-gray-300 rounded-full h-3 md:h-4">
        <div class="bg-blue-700 h-full rounded-full" style="width: 55%;"></div>
      </div>
    </div>

    <div>
      <div class="flex justify-between mb-1 text-sm md:text-base">
        <span class="font-semibold text-gray-700">AWS | Azure</span>
        <span class="font-semibold text-gray-700">50%</span>
      </div>
      <div class="w-full bg-gray-300 rounded-full h-3 md:h-4">
        <div class="bg-blue-700 h-full rounded-full" style="width: 50%;"></div>
      </div>
    </div>

    <div>
      <div class="flex justify-between mb-1 text-sm md:text-base">
        <span class="font-semibold text-gray-700">Vscode | Intellij | Postman</span>
        <span class="font-semibold text-gray-700">90%</span>
      </div>
      <div class="w-full bg-gray-300 rounded-full h-3 md:h-4">
        <div class="bg-blue-700 h-full rounded-full" style="width: 90%;"></div>
      </div>
    </div>

  </div>
</section>